<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />-->
    <section name="policyInjection" type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.Configuration.PolicyInjectionSettings, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <policyInjection>
    <policies>
      <add name="ServiceImpPolicy">
        <matchingRules>
          <add type="Microsoft.Practices.EnterpriseLibrary.PolicyInjection.MatchingRules.CustomAttributeMatchingRule, Microsoft.Practices.EnterpriseLibrary.PolicyInjection, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
            attributeType="TelChina.TRF.Service.AOP.AOPAttribute.LogAttribute,TelChina.TRF.Service.AOP, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            name="Custom Attribute Matching Rule" />
        </matchingRules>
        <handlers>
          <add Test="Hello World!!" type="TelChina.TRF.Service.AOP.CallHandler.ServiceLogCallHandler,TelChina.TRF.Service.AOP, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
            name="ServiceLogCallHandler" />
        </handlers>
      </add>
    </policies>
  </policyInjection>
  <appSettings>
    <add key="ServiceBaseUri" value="http://localhost:1234/" />
    <!--<add key="DeployType" value="Distributed" />-->
    <add key="DeployType" value="Integrate" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath=".\Bin;.\Labs" />
    </assemblyBinding>
  </runtime>
</configuration>